<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="ball.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <div id="root"></div>
        <button class="login-button">Hello Deepak</button>
        <div class="ball-container" onclick="getAnswer()">
            <div class="outer-ball">
                <div class="inner-ball">
                    <div style="font-size: 50px;">8</div>
                </div>
            </div>
            <div class="ball-shadow"></div>
        </div>
    <script src="<%= url %>"></script>
</body>

</html>